@import url('https://fonts.cdnfonts.com/css/graffiti-font');

body {
    margin: 0;
    padding: 0;
}

#picpic {
    height: 43rem;
    width: 100%;
    border-radius: 1rem;
}

.navbar-brand {
    color: rgb(224, 160, 9);
    font-family: 'Graffiti font', sans-serif;
    padding: 0 15px;
    animation: blink 10s infinite;
}

/* Tomato Red (#FF6347): ,Pepperoni Brown-Red (#8B0000):: ,Basil Green (#228B22):, Golden Brown (#DAA520):*/
@keyframes blink {
    0% {
        color: #FF6347;
    }

    25% {
        color: #8B0000;
    }

    50% {
        color: #228B22;
    }

    75% {
        color: #DAA520;
    }

    100% {
        color: rgb(224, 160, 9);
    }
}

.carousel-caption {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 2rem;
    color: white;
    margin: 0 auto;
}

.top {
    background-color: white;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#navbarNav {
    font-family: 'Graffiti font', sans-serif;
    font-weight: 900;
    font-size: 1rem;
}

#navbarNav li:hover {
    background-color: #f9f9f9;
    cursor: pointer;
    text-decoration: underline;
}

/* about us starts */
#about {
    color: black;
    text-align: center;
    margin-top: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    text-transform: uppercase;
}

.about-text {
    text-align: center;
}

.about-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border: 4px solid rgb(224, 160, 9);
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.container1 {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
}

#marquee {
    max-width: 100%;
    color: rgb(224, 160, 9);
    direction: left;
}

/* about us ends */

/* menu starts */
#pizz {
    margin-left: 5rem;
    margin-top: 2rem;
    border-radius: 1rem;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.img-fluid:hover {
    transform: scale(1.1);
}

#pizz:hover {
    transform: scale(1.1);
    opacity: 0.5;
    cursor: pointer;
}

.checked {
    color: orange;
}

.card-title {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.card-body>h6 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

/* menu ends */

/* Testimonials starts */

/* testimonials ends */

/* modal start */
#exampleModal{
    font-family: 'Times New Roman', Times, serif;
}

/* modal end */

/* footer starts */
#btn2 {
    float: right;
    background-color: white;
    color: black;
}

#btn2:hover {
    color: rgb(224, 160, 9);
}

.row {
    font-family: 'Times New Roman', Times, serif;
}

#copyright {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
.text-white{
    text-decoration: none;

}

/* footer ends */
